
<h1>{{title}}</h1>

<div class="parent">
  <div class="childTask">
    <app-to-do-tasks (newTaskEvent)="addTask($event)"></app-to-do-tasks>
    <div class="task" *ngFor="let task of tasks; let index = index" >
      <input class="todo-checkbox" type="checkbox" >
      <span class="check-text">{{task.name}}</span>
      <button (click)="openDialogTask(task.id)" class="button">
        <i class="material-icons icons">clear</i>
      </button>
    </div>
  </div>

  <div class="childPerson">
    <app-to-do-persons (newPersonEvent)="addPerson($event)"></app-to-do-persons>
    <div class="person" *ngFor="let person of persons; let index = index">
      <input class="todo-checkbox" type="checkbox">
      <span>{{person.name}}</span>
      <button (click)="openDialogPerson(person.id)" class="button">
        <i class="material-icons icons">clear</i>
      </button>
    </div>
  </div>

  <div class="childSelect">
    <app-select-list [arTasks]="tasks" [arPersons]="persons" [arList]="lists"></app-select-list>
    <div *ngFor="let list of lists; let index = index">
      <span>{{getTaskNameById(list.taskId)}} </span>
      <span>{{getPersonNameById(list.personId)}}</span>
      <button (click)="openDialogList(index)">
        <i class="material-icons icons">clear</i>
      </button>
    </div>
  </div>
</div>

<div>
  <button (click)="serverRequestNews()">RequestNews</button>
  <button (click)="serverRequestNBA()">RequestNBA</button>
  <button (click)="GetApiServer()">GetApi</button>
  <button (click)="GetApiValues()">GetValue</button>
  <button (click)="PostApiValues()">PostApi</button>
  <button (click)="PutApiValues()">PutApi</button>
  <button (click)="DeleteApiValues()">DeleteApi</button>
</div>





