
h1 {
  font-family: Arial;
  font-size: 200%;
  color: black;
  text-align: center;
}

.parent{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.task {
  display: flex;
  justify-content: space-between;
  font-size: 200%;
  background-color: lightgray;
  border-radius: 4px;
  margin-top: 20px;
  margin-bottom: 15px;
}

.task:hover {
  background-color: lightskyblue;
}

.person {
  display: flex;
  justify-content: space-between;
  font-size: 200%;
  background-color: lightgray;
  border-radius: 4px;
  margin-top: 20px;
  margin-bottom: 15px;
}

.person:hover {
  background-color: lightskyblue;
}

.button {
  margin-right: 10px;
  border-radius: 4px;
}

.button:hover {
  background-color: red;
}

.childTask {
  width: 25%;
}

.childPerson {
  width: 25%;
  order: 1;
}

.childSelect {
  width: 30%;
}

.todo-checkbox{
  margin-right: 5px;
}

.icons{
  font-size: 14px;
}






