.personPosition{
  display: flex;
  flex-direction: column;
  align-items: center;
}

div h2{
  text-align: center;
}

button {
  border-radius: 5px;
  margin-left: 10px;
}

input {
  font-size: 100%;
  border-radius: 5px;
}

button:hover {
  background-color: antiquewhite;
}


