.personPosition{
  display: flex;
  flex-direction: column;
  align-items: center;
}

div h2{
  text-align: center;
}

button {
  border-radius: 5px;
  margin-left: 10px;
}

input {
  font-size: 100%;
  border-radius: 5px;
}

button:hover {
  background-color: antiquewhite;
}

.person {
  display: flex;
  justify-content: space-between;
  font-size: 200%;
  background-color: lightgray;
  border-radius: 4px;
  margin-top: 20px;
  margin-bottom: 15px;
}

.person:hover {
  background-color: lightskyblue;
}

.button {
  margin-right: 10px;
  border-radius: 4px;
}

.button:hover {
  background-color: red;
}


